* {
  margin: 0;
  padding: 0;
}
:root {
  --darkMagenta: hsl(300, 43%, 22%);
  --softPink: hsl(333, 80%, 67%);
  --darkGreyMagenta: hsl(303, 10%, 53%);
  --lightGreyMagenta: hsl(300, 24%, 96%);
}
body {
  width: 100%;
  min-height: 100vh;
  background-image: url(../images/bg-pattern-top-mobile.svg),
    url(../images/bg-pattern-bottom-mobile.svg);
  background-repeat: no-repeat;
  background-position: top, bottom;
  background-size: contain;
  font-family: "League Spartan", sans-serif;
}
main {
  width: 90%;
  max-width: 700px;
  margin: 82px auto;
}
h1 {
  margin-bottom: 17px;
  font-size: 40px;
  line-height: 32px;
  font-weight: 700;
  text-align: center;
  color: var(--darkMagenta);
}
main > div > p {
  margin-bottom: 39px;
  font-size: 19px;
  line-height: 25px;
  text-align: center;
  color: var(--darkGreyMagenta);
}
.rate {
  width: 100%;
  margin-bottom: 16px;
  padding-bottom: 16px;
  background-color: var(--lightGreyMagenta);
  border-radius: 8px;
  text-align: center;
}
.rated img {
  margin-top: 16px;
}
.rated h2 {
  font-size: 17px;
  color: var(--darkMagenta);
}
.opinions {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 49px;
}
.opinion {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: var(--darkMagenta);
  border-radius: 8px;
  padding: 40px 32px;
}
.opinions div img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 16px;
  margin-bottom: 23px;
}
.opinions h2 {
  font-size: 17px;
  color: white;
}
.opinions h3 {
  font-size: 17px;
  color: var(--softPink);
  font-weight: 400;
}
.opinions p {
  font-size: 17px;
  line-height: 22px;
  color: white;
}
footer {
  text-align: center;
}
footer a {
  color: black;
  text-decoration: none;
}
@media (min-width: 1080px) {
  body {
    width: 100%;
    min-height: 100vh;
    background-image: url(../images/bg-pattern-top-desktop.svg),
      url(../images/bg-pattern-bottom-desktop.svg);
    background-position: -150px -600px, +200px +200px;
  }
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    max-width: 1200px;
    margin: 118px auto;
  }
  .h1 {
    flex-basis: 40%;
  }
  h1 {
    font-size: 56px;
    line-height: 48px;
    max-width: 400px;
    text-align: left;
    color: var(--darkMagenta);
  }
  main > div > p {
    margin-bottom: 71px;
    text-align: left;
  }
  .rate {
    justify-content: center;
    align-items: center;
  }
  .rated {
    margin-top: 15px;
  }
  .stars {
    margin-bottom: 15px;
    margin-right: 15px;
  }
  .rated > div {
    display: flex;
    width: 30vw;
    min-width: 200px;
    max-width: 500px;
    height: 56px;
    padding-bottom: 0px;
  }
  .rated h2 {
    font-size: 17px;
    margin: 0;
  }
  .rated > div:nth-child(1) {
    margin-left: -90px;
  }
  .rated > div:nth-child(2) {
    margin-left: -45px;
  }
  .opinions {
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin-top: 49px;
    width: 100%;
    max-width: 1440px;
  }
  .opinion {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    width: 200px;
    height: 234px;
    background-color: var(--darkMagenta);
    border-radius: 8px;
    padding: 40px 32px auto 32px;
  }
  .second {
    margin-top: 16px;
  }
  .third {
    margin-top: 32px;
  }
}
