* {
  margin: 0;
  padding: 0;
}
:root {
  --darkMagenta: hsl(300, 43%, 22%);
  --softPink: hsl(333, 80%, 67%);
  --darkGreyMagenta: hsl(303, 10%, 53%);
  --lightGreyMagenta: hsl(300, 24%, 96%);
}
body {
  width: 100%;
  min-height: 100vh;
  background-image: url(../images/bg-pattern-top-mobile.svg),
    url(../images/bg-pattern-bottom-mobile.svg);
  background-repeat: no-repeat;
  background-position: top, bottom;
  background-size: contain;
  font-family: "League Spartan", sans-serif;
}
main {
  width: 90%;
  max-width: 700px;
  margin: 82px auto;
}
h1 {
  margin-bottom: 17px;
  font-size: 40px;
  line-height: 32px;
  text-align: center;
  color: var(--darkMagenta);
}
main > div > p {
  margin-bottom: 39px;
  font-size: 19px;
  line-height: 25px;
  text-align: center;
  color: var(--darkGreyMagenta);
}
.rated > div {
  width: 100%;
  margin-bottom: 16px;
  padding-bottom: 16px;
  background-color: var(--lightGreyMagenta);
  border-radius: 8px;
  text-align: center;
}
.rated img {
  margin-top: 16px;
}
.rated h2 {
  font-size: 17px;
  color: var(--darkMagenta);
}
.opinions > div {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 16px;
  padding: 40px 32px 35px 32px;
  background-color: var(--darkMagenta);
  border-radius: 8px;
}
.opinions > div > div {
  display: inline-block;
  margin-left: 23px;
}
.opinions img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.opinions h2 {
  margin-bottom: 4px;
  font-size: 17px;
  font-weight: 700;
  color: white;
}
.opinions h3 {
  margin-bottom: 24px;
  padding-bottom: 4px;
  font-size: 17px;
  font-weight: 500;
  color: var(--softPink);
}
.opinions p {
  font-size: 17px;
  font-weight: 500;
  line-height: 25px;
  color: white;
}
footer {
  text-align: center;
}
footer a {
  color: black;
  text-decoration: none;
}
@media (min-width: 1080px) {
  body {
    width: 100%;
    min-height: 100vh;
    background-image: url(../images/bg-pattern-top-desktop.svg),
      url(../images/bg-pattern-bottom-desktop.svg);
    background-position: -150px -600px, +200px +200px;
  }
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 70%;
    max-width: 1110px;
    margin: 118px auto;
  }
  main div:first-child {
    flex-basis: 40%;
  }
  h1 {
    font-size: 56px;
    line-height: 48px;
    max-width: 400px;
    text-align: left;
    color: var(--darkMagenta);
  }
  main > div > p {
    margin-bottom: 71px;
    text-align: left;
  }
  .rated > div {
    /* box-sizing: border-box; */
    display: flex;
    width: 30vw;
    min-width: 400px;
    padding-bottom: 0;
  }
  .rated h2 {
    font-size: 17px;
    margin: 20px 0;
  }

  .rated > div:nth-child(1) {
    margin-left: -90px;
  }
  .rated > div:nth-child(2) {
    margin-left: -45px;
  }
}
